<div *ngIf="isFromMyself" class="message-row-self">
    <div class="message-bubble-self">
        <span *ngIf="canShowMessageInfo" class="message-info-self">
            {{getTime()}}  <span>{{authorName}} (you)</span>
        </span>
        <span class="message-content">
            {{content}}
        </span>
    </div>
    
</div>

<div *ngIf="!isFromMyself" class="message-row-other">
    <div class="message-bubble-other">
        <span *ngIf="canShowMessageInfo" class="message-info-other">
            <span>{{authorName}}</span> {{getTime()}}
        </span>
        <span class="message-content">
            {{content}}
        </span>

    </div>
</div>
