<div *ngIf="visible">
    <div class="modal-dark-background" (click)="closeModal()"></div>
    <div class="modal-popup">
        <h2 class="modal-title">{{title}}</h2>
        <div class="modal-content">
            <app-textbox title="Your username" placeholder="A cool name, like you ;)" inputStyle="width: 94%"></app-textbox>
            <br>
            <app-textbox title="Room ID" placeholder="The id of the room you want to enter" inputStyle="width: 94%" *ngIf="askRoomId==true"></app-textbox>
            <div class="buttons-row">
                
               <div class="clickListener" (click)="closeModal()">
                    <app-button label="Cancel" type="secondary"></app-button>
               </div> 
                <app-button label="Create"></app-button>
            </div>
           
        </div>
    </div>
</div>