.top-bar-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top:0;
    left: 0;
    height: 10vh;
    max-height: 90px;
    border-bottom: 1px solid var(--whiter-gray);
    gap: 10px;
    z-index: 10000; /*necessary to make online users modal works*/
    font-size: 0.7rem;
}

.room-info {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--accent-color);
    background-color: var(--background-color-1);
    width: auto;
    max-width: 25vw;
    
    
    padding-left: 15px;
    padding-right: 15px;
    height: auto;
    border: 1px solid var(--whiter-gray);
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: var(--default-font);

    cursor: pointer;
    user-select: none;
    overflow-wrap: anywhere;
}


.menu-btn {
    height: 35px;
    background-color: var(--background-color-0);
    color: var(--accent-color);
    height: 35px;
    border: none;
    padding-left: 10px;
    width: auto;
}

.room-info:hover {
    background-color: var(--whiter-gray);
}