<div class="top-bar-container">


    <div class="room-info" (click)="copyId()">
        <span class="material-symbols-outlined">tag</span>
        <span>
            {{roomId}}
        </span>
    </div>
    <div class="room-info" (click)="copyUsername()">
        <span class="material-symbols-outlined">account_circle</span>
        <span>
            {{username}}
        </span>
    </div>

    <div class="room-info" (click)="onlineUsersModalVisible=true">
        <span class="material-symbols-outlined" style="margin-right: 5px;">radio_button_checked</span>
        <span>
            {{onlineUserCounter}} online
        </span>
    </div>
    <app-online-users-modal [visible]="onlineUsersModalVisible" (closeModalEvent)="onModalClose($event)"></app-online-users-modal>
</div>