.app-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.theme-selector {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color-0);
    z-index: 999999;
}
.theme-selector-link {
    position: fixed;
    bottom: 3vh;
    left: 1.5vw;
    font-family: var(--h1-font);
    color: var(--accent-color);
    font-size: 0.7rem;
    border-bottom: 1.7px solid var(--accent-color);
    z-index: 99999990099;
    cursor: pointer;
    user-select: none;
}
.themes {
    font-family: var(--h1-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--accent-color);
    font-size: 1.2rem;

}
.theme {
    border-bottom: 1.7px solid var(--accent-color);
    width: fit-content;
    cursor: pointer;
}