<div class="messages-container">
    <app-message></app-message>
    <app-message [isFromMyself]="false"></app-message>
    <app-message [isFromMyself]="false"></app-message>
    <app-message [isFromMyself]="false"></app-message>
    <app-message [isFromMyself]="false"></app-message>
    <app-message [isFromMyself]="true"></app-message>
    <app-message [isFromMyself]="false"></app-message>
    <app-message [isFromMyself]="false"></app-message>
    <app-message [isFromMyself]="false"></app-message>
    <app-message [isFromMyself]="false"></app-message>
</div>