/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "DMMono-Regular";
    src: url("/fonts/DMMono-Regular.ttf");
}

@font-face {
    font-family: "DMMono-Medium";
    src: url("/fonts/DMMono-Medium.ttf");
    font-weight: 1200;
}
@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans.ttf");
    font-weight: 600;
}

:root {
    --background-color-0: #000000;
    --background-color-1: #1f1f1f;
    --whiter-gray: #383838;
    --accent-color: #ededed;
    --h1-font: "DMMono-Medium";
    --h2-font: "DMMono-Regular";
    --default-font: "Open Sans"
}

body {
    background-color: var(--background-color-0);
}