<div class="home-container">
    <app-website-title></app-website-title>
    <div class="buttons-row-container">
        <div (click)="openCreateRoomModal()">
            <app-button id="createRoom" label="Create room"></app-button>
        </div>
        <div (click)="openJoinRoomModal()">
            <app-button type="secondary" label="Join room"></app-button>
        </div>
        
    </div>
    <app-modal [visible]="modalVisible" [title]="getModalTitle()" [askRoomId]="isJoining" (closeModalEvent)="modalVisible=false">
    </app-modal>
    
</div>